src/main/mule/emailimpl-v1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
	xmlns:spring="http://www.mulesoft.org/schema/mule/spring"
	xmlns:email="http://www.mulesoft.org/schema/mule/email"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd 
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd
http://www.mulesoft.org/schema/mule/spring http://www.mulesoft.org/schema/mule/spring/current/mule-spring.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">
	<flow name="emailImpl" doc:id="5258df27-5452-408a-8bb3-dc48e2525da8" >
		<logger level="INFO" doc:name="Logger" doc:id="61a3e0ed-9c79-4e2e-bb06-93c7e16ce8a9" message="==================email flow starts=================="/>
		<db:select doc:name="getWaterMark" doc:id="58b61e34-3e8d-48e5-87bf-245c85715e9c" config-ref="SSOTDB">
			<db:sql ><![CDATA[SELECT LastRun FROM sample.watermark where objName = 'email']]></db:sql>
		</db:select>
		<ee:transform doc:name="WaterMarkVariable" doc:id="58bd09e9-34a3-4889-b80e-50c17b7d2258" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="lastRunemail" ><![CDATA[payload.LastRun[0] as String]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="ae60cab1-c0f5-4dce-bb06-acc56d732c90" message="#[vars.lastRun]"/>
		<db:select doc:name="getEmails" doc:id="08eeac9a-e9bb-46a8-9cdb-687bf5bbde7d" config-ref="SSOTDB">
			<db:sql ><![CDATA[SELECT *
				FROM sample.emailview where dateUpdated >= :lastRun]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
				'lastRun' : vars.lastRunemail
				}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="2f6d0fa6-cb5d-41a6-a30e-3f731e5f1d10" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
					output application/json
					---
					payload map (item, index)->
					
					{
						contactId : item.contactId,
						email : item.email												
					}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<choice doc:name="Choice" doc:id="62b426ca-5d18-46e8-969c-6e03cb9841fc" >
			<when expression="#[sizeOf(payload) &gt;0]">
				<logger level="INFO" doc:name="Logger" doc:id="7d55f992-1246-4eaa-951d-30d46a945857" message="==================call Batch process==================" />
				<flow-ref doc:name="emailBatch" doc:id="b235cb80-eb9e-4f98-8c10-a92044e37f9b" name="emailBatch" />
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="2660386d-c57e-491d-b14f-6b316ccebd51" message="-------------------------No Records found-----------------------------"/>
				<db:update doc:name="Update" doc:id="8aa2f699-a7e0-46b9-9e95-911c848d099a" config-ref="SSOTDB">
					<db:sql ><![CDATA[UPDATE sample.watermark 
						set LastRun = :LastRun 
						where objName = 'email']]></db:sql>
					<db:input-parameters ><![CDATA[#[{
						'LastRun' : (now() as DateTime{format: "yyyy-MM-dd'T'HH:MM:ss"}) as String
					}]]]></db:input-parameters>
				</db:update>
			</otherwise>
		</choice>		
	</flow>
	<flow name="emailBatch" doc:id="b87ecd92-b22d-4b6a-b8fb-7b9415cd5d03">
		<batch:job jobName="emailImplBatch_Job" doc:id="713d94a0-dee0-4d7b-8297-1d75649d1c0a" blockSize="${batch.size}" maxFailedRecords="-1">
			<batch:process-records>
				<batch:step name="Batch_Step" doc:id="53ac3987-3357-4b22-be4b-599a21d70ef4">
					<batch:aggregator doc:name="Batch Aggregator" doc:id="11f1a9e0-8dc0-4b36-9570-777d33887bb5" size="2">
						<ee:transform doc:name="SysAPIRequest" doc:id="0edf7f0d-f4ae-4e64-8c34-110d3612ad12">
							<ee:message>
								<ee:set-payload><![CDATA[%dw 2.0
									output application/json
									---
									payload ]]></ee:set-payload>
							</ee:message>
						</ee:transform>
						<http:request method="POST" doc:name="Request" doc:id="ed1934ca-2391-415e-9d23-6282c98d5f1e" url="${sysAPI.baseUrl}/${sysAPI.email}">
							<http:headers ><![CDATA[#[output application/java
								---
								{
									"name" : "Email"
								}]]]></http:headers>
						</http:request>
					</batch:aggregator>
				</batch:step>
			</batch:process-records>
			<batch:on-complete >
				<choice doc:name="Choice" doc:id="3127fcb4-9066-413a-ba0f-2673c16ece43">
					<when expression="#[payload.failedRecords != payload.totalRecords]">
						<db:update doc:name="UpdateWaterMark" doc:id="2396cc53-d64e-49c4-8668-c3c4ed507c25" config-ref="SSOTDB">
							<db:sql><![CDATA[UPDATE sample.watermark 
								set LastRun = :LastRun 
								where objName = 'email']]></db:sql>
							<db:input-parameters><![CDATA[#[{
								'LastRun' : (now() as DateTime{format: "yyyy-MM-dd'T'HH:MM:ss"}) as String
							}]]]></db:input-parameters>
						</db:update>
						<logger level="INFO" doc:name="Logger" doc:id="443ba492-2c19-4e03-b9cb-72c38decf0bd" message="==================email flow end==================" />
					</when>
					<otherwise>
						<logger level="INFO" doc:name="Logger" doc:id="a20dce1b-ad29-4848-85b4-c08e805c96a6" message="----------------Failure Job----------------" />
					</otherwise>
				</choice>
			</batch:on-complete>
		</batch:job>	
	</flow>
	
	</mule>
